@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
/* Signature Animation */
/* Hide text initially */
.signature-animation {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  position: relative;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(50, end) forwards, caret-fade-out 3s 5s forwards;
}

/* Caret */
.signature-animation::after {
  content: '';
  position: absolute;
  right: -3px;
  animation: blink-caret 0.5s step-end infinite, caret-fade-out 3s 5s forwards; }


@keyframes move-up {
  0%{
    translate: 0vh;
  }
  100%{
    tranlate:-30vh;
  }
}

/* Blinking caret */
@keyframes blink-caret {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
}


.drip {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: red;
  /* Default color, will be randomized in JavaScript */
  border-radius: 0% 100% 100% 100%;
  /* Creates the teardrop shape */
  transform: rotate(45deg);
  /* Fixed rotation for teardrop shape */
  opacity: 0.9;
  animation: dripAnimation 4s ease-out forwards;
}

@keyframes dripAnimation {
  0% {
    transform: translateY(0) rotate(45deg);
    /* Initial static rotation */
    opacity: 1;
      width: 2rem;
        height: 2rem;
  }

  100% {
    transform: translateY(100vh) rotate(45deg);
    /* Keeps the static rotation while falling */
    opacity: 0;
      width: 5rem;
        height: 5rem;
  }
}

/* Keyframe for Rotation */
@keyframes rotation {
  0% {
    transform: rotateY(0deg) scale(1);
  }

  50%{
    transform: rotateY(0deg) scale(3)
  }
  100%{
    transform: rotateY(360deg) scale(1);
  }
  
}

/* Animation Class */
.animate-rotation {
  animation: rotation 2s ease-in-out 0.5s;
  /* 2s duration with a 2s delay */
}

/* Scrollbar Styling for WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  /* Track background color */
}

::-webkit-scrollbar-thumb {
  background-color: red;
  /* Scrollbar thumb color */
  border-radius: 50%;
  /* Rounded corners for thumb */
  border: 2px solid #f0f0f0;
  /* Space between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
   
  /* Thumb color on hover */
}

/* Scrollbar Styling for Firefox */
* {
  scrollbar-width: thin;
  /* Thin scrollbar width */
  scrollbar-color: #EC8305 #f0f0f0;

  /* Thumb and track colors */
}

/* Apply scrollbar styles only to the specific section */
.scrollable-section::-webkit-scrollbar {
  width: 10px;
}

.scrollable-section::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollable-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}